<ul id="nav">
    <li><%= link_to("Home", "/") %></li>
    <li><%= link_to("Log In", "/login")%></li>
    <li><%= link_to("Sign Up", "/signup")%></li>
    <li><%= link_to("Men", "/men")%></li>
    <li><%= link_to("Women", "/women")%></li>
    <li><%= link_to("VIP", "/vip")%></li>
    <li><%= link_to("Customer Profile", "/customer_profile")%></li>
    <li><%= link_to("Contact", "/contact")%></li>
</ul>